#Profile img {
  width: 100%;
  height: 100%;
  clip-path: circle();
  object-fit: cover;
}

.containerImg {
  width: 30px;
  height: 30px;
  padding: 0%;
  border: 0%;
  margin: 0%;
}

#Slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.ContainerImgSlid {
  width: 100%;
  height: 60%;
  padding: 0%;
  border: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  min-height: 50px;
}
footer {
  min-height: 20px;
}

/* Trick */
body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
